

  html,
  body,
  * {
     text-align: center;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;
    


    }  
  
  :root {
    
    
    --light-green: #77c969;
    --beige: #e3a25d;
    --ligher-beige:#eebd88; 
   
    --h1: 7.594rem;
  
  }
  
  form{
  
    text-align: center;
    margin: 150px 10px; 
  
    
  }
  
  h1{
    font-size: var(--h1);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
  }
  
  
  .toppage{
    background-color: var(--light-green);
  
  }
 
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  


   img{
    width: 30%;
    border-radius: 25px;
    margin-top: -140px;
   }
  

   .feedback {
    text-align: center;
    margin-top: -800px;
    font-size: 25px;
  }